extends ../base.pug

block contents
    div.wrap
        div.history-date-inputBox
            div.labelBox
                label(for="dateStart") 시작일
                input(id="dateStart", class="dateStart", type="date", name="dateStart")
            div.labelBox
                label(for="dateEnd") 종료일
                input(id="dateEnd", class="dateEnd", type="date", name="dateEnd")
            button(class="getHistoryBtn")
                i(class="fa fa-search" style="font-size:24px")
        div.summury
        div.showHistory


block scripts
    script(src="/static/js/myHistory.js")