extends ../base.pug

block contents
    div.wrap
        div.inputBox
            |시작일
            input(class="dateStart", type="date", name="dateStart")
            |종료일
            input(class="dateEnd", type="date", name="dateEnd")
            button(class="getHistoryBtn") 조회하기
        div.summury
        div.showHistory


block scripts
    script(src="/static/js/myHistory.js")