extends ../base.pug
include ../mixins/record

block contents
    div
        b.calendar
        h1.clock
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(name="date", type="text", value=`${years}-${months}-${dates}`,readonly)
        input(placeholder="현장명", name="siteName", type="text")
        input(placeholder="키로수", name="distance", type="text")
        input(name="water", type="checkbox") 
        |폐수수거 
        input(name="overTime", type="checkbox")
        |시간초과
        input(name="nightSupport", type="checkbox")
        |야간지원
        input(placeholder="기티 메모", name="memo", type="text")
        input(placeholder="주유량", name="oiling", type="text")
        input(type="submit", value="저장")
    hr
    if records
        div 
            span NO. 
            span 현장명 
            span 주행거리(km) 
            span 폐수수거 
            span 시간초과 
            span 시간외 출하
            span 주유량(L)
        div
            ol  
                each record in records 
                    +record(record)
                else
                    span 금일 운행 기록이 없습니다. 

block scripts
    script(src="/static/js/clock.js")
    script(src="/static/js/write.js")
    