/* styles of main page */
@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "DM Serif Display", monospace;
  padding: 45px;
  background-color: #1e1f21;
  color: #fdffff;
}

a {
  color: #eba308;
}
.wrap {
  background-color: #eba308;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #1e1f21;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
