/* styles of main page */
@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
  //background: linear-gradient(45deg, #eba308 0%, #020fbd 100%);
}

/* nav bar */

a {
  cursor: pointer;
  transition: all 200ms linear;
  color: #eba308;
  text-decoration: none;
}
a:hover {
  font-size: large;
  font-weight: bold;
}

.header {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .profileWrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 800px;
    small {
      color: whitesmoke;
      span {
        margin-left: 10px;
      }
    }
  }
}

.navigationWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: #eba308;
  text-transform: uppercase;
  overflow: hidden;
  width: 800px;
  font-size: larger;
  border-radius: 10px;

  .logoWrapper {
    display: flex;

    .stylish {
      font-weight: bold;
    }
    .logo {
      padding-left: 4px;
      color: #020fbd;
      font-weight: bold;
    }
  }
}

.linkWrapper {
  display: flex;
}

.navigation {
  display: flex;
  list-style-type: none;
  li {
    opacity: 1;
    list-style-type: none;
    color: #1e1f21;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  .parent {
    padding: 0 10px;
    cursor: pointer;
    .link {
      position: relative;
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      color: #eba308;
      &:hover {
        color: #020fbd;
        font-weight: bolder;
        li a {
          font-size: 30px;
          padding: 0 5px;
        }
      }
    }
  }
}

th,
td {
  border: solid 1px;
}

/* μΈν’‹λ°•μ¤ */

.loginbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 800px;
  height: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  .login-input-wrap {
    display: flex;
    flex-direction: column;
    img {
      width: 500px;
    }
    .login-form {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    input {
      border-radius: 10px;
      width: 450px;
      height: 50px;
      margin: 5px;
    }
    .submitBtn {
      text-align: center;
      .loginBtn {
        font-size: larger;
        &:hover {
          background-color: #020fbd;
          font-size: x-large;
        }
      }
    }
  }
}

#input-box {
  font-weight: border;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 5px;
  width: 800px;
  height: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  box-sizing: border-box;
  padding: 40px;
}

.right {
  box-sizing: border-box;
  padding: 40px;
  img {
    width: 400px;
    height: 508px;
  }
}

.inputWrap {
  display: flex;
  flex-direction: column;
  padding: 5px;
  .submitBtn {
    text-align: center;
  }
}

input[type="text"],
input[type="tel"],
input[type="password"] {
  display: block;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 4px;
  width: 250px;
  height: 45px;
  border: none;
  background-color: whitesmoke;
  border-bottom: 1px solid #eba308;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="tel"],
input[type="password"]:focus {
  border-bottom: 1px solid #eba308;
  color: #eba308;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 20px;
  width: 250px;
  height: 45px;
  background: #eba308;
  border: none;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: bolder;
  font-size: larger;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  &:hover {
    background-color: #020fbd;
    font-size: x-large;
  }
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

// for data tables

// write.pug

table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  text-align: left;
}

thead {
  th {
    background-color: #55608f;
  }
}

tbody {
  tr {
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  td {
    position: relative;
    &:hover {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
      }
    }
  }
}

// clock in write.pug
.clockWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  b,
  h1 {
    color: whitesmoke;
  }
}

// inputbox in write.pug
.write-input-box {
  font-weight: border;
  color: whitesmoke;
  padding: 20px;
  width: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  .labelbox {
    border-radius: 10px;
    background-color: whitesmoke;
    width: 350px;
    height: 45px;
    color: #1e1f21;
  }
  input {
    margin: 0;
    padding: 0;
    color: #1e1f21;
    font-size: larger;
  }
  input[name="memo"] {
    width: 300px;
  }
  label {
    display: flex;
    align-items: center;
    font-size: larger;
    justify-content: space-between;
  }
  input[type="checkbox"] {
    margin-right: 7px;
    transform: scale(1.5);
    display: inline-block;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      height: 50px;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 800px;
    }
  }
  input[type="submit"] {
    margin-top: 10px;
    width: 250px;
    height: 45px;
    background: #eba308;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bolder;
    font-size: larger;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
    &:hover {
      background-color: #020fbd;
      font-size: x-large;
    }
  }
}
