mixin record(info)
    li
        div(class = "todayList") 
            if info.siteName
                span(class = "siteName") #{info.siteName}
            else
                span(class = "siteName") X
            if info.distance
                span(class = "distance") #{info.distance}
            else 
                span(class = "distance")
            if info.water
                span(class = "water") O
            else 
                span(class = "water")
            if info.overTime
                span(class = "overTime") O
            else 
                span(class = "overTime")
            if info.nightSupport
                span(class = "nightSupport") O
            else 
                span(class = "nightSupport")
            if info.oiling
                span(class = "oiling") #{info.oiling}
            else
                span(class = "oiling")
            button(class = "removeBtn") 삭제