mixin record(info)
    tr
        div(class = "todayList")
            if info.siteName
                td
                    span(class = "siteName") #{info.siteName}
            else
                td
                    span(class = "siteName") X
            if info.distance
                td
                    span(class = "distance") #{info.distance}
            else 
                td
                    span(class = "distance")
            if info.water
                td
                    span(class = "water") O
            else 
                td
                    span(class = "water")
            if info.overTime
                td
                    span(class = "overTime") O
            else 
                td
                    span(class = "overTime")
            if info.nightSupport
                td
                    span(class = "nightSupport") O
            else 
                td
                    span(class = "nightSupport")
            if info.oiling
                td
                    span(class = "oiling") #{info.oiling}
            else
                td
                    span(class = "oiling")
            td
                button(class = "removeBtn") 삭제