mixin record(info)
    li
        div(class = "todayList") 
            span #{info.siteName} 
            span #{info.distance}  
            if info.water
                span ○
            else 
                span 
            if info.overTime
                span ○
            else 
                span 
            if info.nightSupport
                span ○
            else 
                span 
            if info.oiling
                span #{info.oiling}
            else
                span
            button(class = "rewriteBtn") 수정
            button(class = "removeBtn") 삭제