doctype html
html(lang="ko")
    head 
        title 스마트한 운행의 시작 | 레미코드 
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        block css
    body
        include partials/header 
        main
            block contents
        include partials/footer
    block scripts