extends base.pug

block contents
    div.home-text
        h1(class="jt --debug")
            span(class="jt__row")
                span(class="jt__text") WE DRIVE
            span(class="jt__row jt__row--sibling" aria-hidden="true")
                span(class="jt__text") WE DRIVE
            span(class="jt__row jt__row--sibling" aria-hidden="true")
                span(class="jt__text") WE DRIVE
            span(class="jt__row jt__row--sibling" aria-hidden="true")
                span(class="jt__text") WE DRIVE
        h1(class="jt --debug")
            span(class="jt__row")
                span(class="jt__text2") WE BUILD
            span(class="jt__row jt__row--sibling" aria-hidden="true")
                span(class="jt__text2") WE BUILD
            span(class="jt__row jt__row--sibling" aria-hidden="true")
                span(class="jt__text2") WE BUILD
            span(class="jt__row jt__row--sibling" aria-hidden="true")
                span(class="jt__text2") WE BUILD
        h1(class="jt --debug")
            span(class="jt__row")
                span(class="jt__text3") REMICORD
            span(class="jt__row jt__row--sibling" aria-hidden="true")
                span(class="jt__text3") REMICORD
            span(class="jt__row jt__row--sibling" aria-hidden="true")
                span(class="jt__text3") REMICORD
            span(class="jt__row jt__row--sibling" aria-hidden="true")
                span(class="jt__text3") REMICORD

block scripts 