header
    h1 레미코드
    nav
        ul
            li
                a(href="/") Home
            if loggedIn
                li 
                    a(href="/record/write/${loggedInUser.id}") 기록부작성
                li 
                    a(href="/record/history/${loggedInUser.id}") 기록부조회
                li 
                    a(href="/user/edit/${loggedInUser.id}") 회원정보
                li 
                    a(href="/user/logout") 로그아웃
            else
                li 
                    a(href="/user/login") 로그인                    
                li
                    a(href="/user/join") 회원가입