extends ../base.pug

block contents
        div.inform
            h3 비밀번호를 찾으실 계정 정보를 입력하세요.
        div.loginbox
            div.login-input-wrap
                if errorMessage
                span.errMessage=errorMessage
                form.login-form(method="POST")
                    input(placeholder="아이디", name="username", type="text", required)
                    input(placeholder="이름", name="name", type="text", required, minlength="2", maxlength="5" )
                    input(placeholder="차량번호", name="plateNumber", type="text", required, minlength="7", maxlength="10")
                    input(placeholder=`전화번호 ( "-" 없이 숫자만 )`, name="phoneNumber", type="tel", required, pattern="[0-9]{11}")
                    div.submitBtn
                        input(type="submit", class="loginBtn", value="비밀번호찾기")