extends ../base.pug

block contents
    h1 로그인
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="아이디", name="username", type="text", required)
        input(placeholder="비밀번호", name="password", type="password", required)
        input(type="submit", class="loginBtn", value="로그인")