extends ../base.pug

block contents
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="아이디*", name="username", type="text", required, minlength="5", maxlength="15")
        input(placeholder="이름*", name="name", type="text", required, minlength="2", maxlength="5" )
        input(placeholder="비밀번호*", name="password", type="password", required, minlength="8", maxlength="20")
        input(placeholder="비밀번호 확인*", name="password2", type="password", required, minlength="8", maxlength="20")
        input(placeholder="전화번호*", name="phoneNumber", type="tel", required, pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}")
        input(placeholder="차량번호*", name="plateNumber", type="text", required, minlength="7", maxlength="10")
        input(type="submit", value="회원가입")