extends ../base.pug

block contents
     div.inform
        h3 변경할 비밀번호를 입력하세요.
        div.loginbox
            div.login-input-wrap
                if errorMessage
                span.errMessage=errorMessage
                form.login-form(method="POST")
                    label 변경할 비밀번호
                        input(placeholder="8~20 영문, 숫자", name="newPassword", type="password", required, minlength="8", maxlength="20", pattern="^([a-zA-Z0-9!@#$%^&*]){8,20}$")
                    label 비밀번호 확인
                        input(placeholder="8~20 영문, 숫자", name="password2", type="password", required,  minlength="8", maxlength="20", pattern="^([a-zA-Z0-9!@#$%^&*]){8,20}$")
                    div.submitBtn
                        input(type="submit", class="loginBtn", value="비밀번호 재설정")